<div class="container">
  <div class="row align-items-center vh-100">
    <div class="col-4 mx-auto">
      <div class="card shadow border">
        <div class="card-body">
          <div class="px-3 mb-0 h4">Login</div>
          <form class="px-3 py-3">
            <div class="mb-3">
              <label for="exampleFormEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleFormEmail1" placeholder="email@example.com" required>
            </div>
            <div class="mb-3">
              <label data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom" for="exampleFormPassword1" class="form-label" minlength="8" maxlength="30">Password</label>
              <input type="password" class="form-control" id="exampleFormPassword1" placeholder="Password" required>
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check" />
                <label class="form-check-label" for="check">
                  Remember me?
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">LOGIN</button>
          </form>
          <div></div>
          <div class="px-3 text-dark">
            <a class="link-dark" href="#">Forgot password?</a>
          </div>
          <div class="px-3 py-2 text-dark">
            <span>Need an account? </span>
            <a class="link-dark" href="sign-up">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
