<nav class="navbar bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Demo App</span>
  </div>
</nav>

<div class="container">
  <div class="row align-items-center vh-100">
    <div class="col-4 mx-auto">
      <div class="card shadow border">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue">
  <div class="footer-copyright text-start px-3 py-3">© 2022 Copyright:
    <a class="px-1" href="/">Terms</a>
    <a class="px-1" href="/">Privacy</a>
    <a class="px-1" href="/">link3</a>
  </div>
</footer>
