<div class="p-3">
    <h1>Website Privacy Statement</h1>
    <p>Effective date: May 31, 2022</p>

    <p>Thanks for entrusting website Inc. or website B.V. (“website”, “we”, "us" or "our") 
        with your source code, your projects, and your personal data. 
        This Privacy Statement explains our practices regarding the collection, use, 
        and disclosure of your data, including any personal data we collect and process 
        in connection with our website and any applications, software, products, 
        and services provided by website, including any Beta Previews (collectively “Service”).
    </p>
    <p>All capitalized terms have their definition in website’s Terms of Service, 
        unless otherwise noted here.
    </p>
</div>